:root {
  --wine: #60282e;
  --dark-grey: #2A363B;
}

.App {
  text-align: center;
}

body {
  background-color: #fff;
  color: black;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 4vh;
  display: flex;
  justify-content: center;
}

.header {
  padding-bottom: 3vh;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--wine);  
}

.menu-link {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 4vh;
}

.menu-link:hover {
  font-size: 120%;
  color: black;
}

.menu-link-aps {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: var(--dark-grey);
  padding-top: 20vh;
}

.menu-link-aps:hover {
  font-size: 120%;
  color: black;
}

.spanish, .english {
  text-align: justify;
  padding: 2vh 5vw;
}

p {
  padding: 0vh 8vw; 
}

.english a {
  text-decoration: none;
  color: #60282e;
}

.english a:hover {
  font-size: 110%;
  color: #60282e;
  text-decoration: underline;
}